
:root {
  --vh: 1vh;
  --bg-color: #4E5A82;
  --text-color: #FFEDEB;
  --accent-color: #ADBFFD;
}

@font-face {
  font-family: 'Stem';
  src: url('assets/fonts/Stem-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url('assets/fonts/Stem-SemiLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url('assets/fonts/Stem-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url('assets/fonts/Stem-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-color);
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) transparent;
  font-family: 'Stem';
  font-weight: 300;
  font-style: normal;
}
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #b86565;
  border-radius: 10px;
  border: 2px solid transparent;
}