
:root {
  --vh: 1vh;
  --bg-color: #4E5A82;
  --text-color: #FFEDEB;
  --accent-color: #ADBFFD;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-color);
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) transparent;
}
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #b86565;
  border-radius: 10px;
  border: 2px solid transparent;
}